@font-face {
    font-family: "PP Neue Montreal VF";
    src: url('./font/PPNeueMontreal-Variable.ttf');
}

body {
    font-family: 'PP Neue Montreal VF', Fallback, sans-serif;
}

.about_text {
    width: 45%;
}

.about_text {
    width: 45%;
}

.flex {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_about {
    flex-direction: row;
    display: flex;
    margin-bottom: 50px;
    align-items: flex-start;
    justify-content: center;
}

.flex_container {
    border-top: 1px dashed;
    border-bottom: 1px dashed;
    flex: 1;
}

@media only screen and (max-width: 900px) {
    .flex {
        flex-direction: column;
        display: flex;
    }

    .flex_container {
        border: 1px dashed;
        flex: 1
    }

    .about_text {
        width: 45%;
        font-size: 12px;
    }
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

